KTDoctor.xcodeproj/xcuserdata/zhangjing.xcuserdatad/xcschemes/xcschememanagement.plist
KTDoctor.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pods/Pods.xcodeproj/xcuserdata/zhangjing.xcuserdatad/xcschemes/xcschememanagement.plist
